/Hmwk/Stanley_Jonathan_CSC5_48101_Midterm/build/
/Hmwk/Stanley_Jonathan_CSC5_48101_Midterm/dist/
/Hmwk/Stanley_Jonathan_CSC5_48101_Midterm_Problem2/build/
/Hmwk/Stanley_Jonathan_CSC5_48101_Midterm_Problem2/dist/
/Hmwk/Stanley_Jonathan_CSC5_48101_Midterm_Problem3/dist/
/Hmwk/Stanley_Jonathan_CSC5_48101_Midterm_Problem3/build/
/Hmwk/Assignment_1_Problem_10_MPG/build/
/Hmwk/Assignment_1_Problem_10_MPG/dist/
/Hmwk/Assignment_1_Problem_11_DistancePerTakeofGas/dist/
/Hmwk/Assignment_1_Problem_11_DistancePerTakeofGas/build/
/Hmwk/CPPTemplate_1/dist/
/Hmwk/CPPTemplate_1/build/
/Class/Stanley_Jonathan_CSC5_48101_Midterm/build/
/Hmwk/Assignment_1/Assignment_1_Problem_12_LandCalculation/dist/
/Hmwk/Assignment_1/Assignment_1_Problem_12_LandCalculation/build/
/Hmwk/Assignment_1/Assignment_1_Problem_/build/
/Hmwk/Assignment_1/Assignment_1_Problem_/dist/
/Hmwk/Assignment_1/Assignment_1_Problem_5_AverageOfValues/build/
/Hmwk/Assignment_1/Assignment_1_Problem_5_AverageOfValues/dist/
/Hmwk/Assignment_1/Assignment_1_Problem_6_AnnualPay/dist/
/Hmwk/Assignment_1/Assignment_1_Problem_6_AnnualPay/build/
/Hmwk/Assignment_1/Assignment_1_Problem_8_TotalPurchase/dist/
/Hmwk/Assignment_1/Assignment_1_Problem_8_TotalPurchase/build/
/Hmwk/Assignment_1/Assignment_1_Problem_9_CyborgDataTypeSizes/build/
/Hmwk/Assignment_1/Assignment_1_Problem_9_CyborgDataTypeSizes/dist/
/Hmwk/Assignment_1/Assignmnet_1_Problem_4_RestaurantBill/build/
/Hmwk/Assignment_1/Assignmnet_1_Problem_4_RestaurantBill/dist/
/Hmwk/Assignment_2_Problem_1_MilesPerGallon/dist/
/Hmwk/Assignment_2_Problem_1_MilesPerGallon/build/
/Hmwk/Assignment_2_Problem_4_AverageRainfall/build/
/Hmwk/Assignment_2_Problem_3_TestAverage/dist/
/Hmwk/Assignment_2_Problem_3_TestAverage/build/
/Hmwk/Assignment_2_Problem_2_StadiumSeating/build/
/Hmwk/Assignment_2_Problem_2_StadiumSeating/dist/
/Hmwk/Assignment_2_Problem_5_MaleandFemalePercentages/build/
/Hmwk/Assignment_2_Problem_5_MaleandFemalePercentages/dist/
/Hmwk/Assignment_2_Problem_7_BoxOffice/dist/
/Hmwk/Assignment_2_Problem_7_BoxOffice/build/
/Hmwk/Assignment_2/Assignment_2_Problem_9_HowManyCalories/build/
/Hmwk/Assignment_2/Assignment_2_Problem_9_HowManyCalories/dist/